{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
<img src="#" alt="logo">
<a href="#">Produits</a>
<a href="#">Contact</a>
</div>
{% endblock %}
