@media only screen and (max-width: 770px) {
    .destination, .features{
        display: none !important;
    }

    #edit, #delete, #detail {
        margin: 2px;
    }
}

@media only screen and (max-width: 1622px) {

    #edit, #delete, #detail {
        width: 100px !important;
        margin: 2px;
    }
}
