.btn-enregistre{
    text-align: center;
}

h1 {
    font-weight: bold !important;
}

.formframe{
    text-align: center;
    border: 25px blue groove;
    padding: 15px;
    margin-top: 10%;
}


.formframe button {
    display: block;
    margin : auto;
}

body {
    background-image: url(../images/imagesdefond.png);
    background-size: cover;
    background-repeat : no-repeat;
    width: 100% !important;
    height: 100% !important;
}

.background {
    height: 100vh !important;
    width: 100% !important;
}

@media only screen and (max-width: 767px) {
    h1{
        font-size: 1.4rem !important;
    }

    .formframe{
        width: 90vw !important;
        margin-top: 20%;
    }
}

@media only screen and (max-width: 900px) {
    h1{
        font-size: 1.5rem !important;
    }

    .formframe{
        width: 80vw !important;
        margin-top: 20%;
    }
}


@media only screen and (max-width: 1200px) {
    h1{
        font-size: 1.6rem !important;
    }

    .formframe{
        width: 80vw !important;
        margin-top: 20%;
    }
}


@media only screen and (max-width: 400px) {
    h1{
        font-size: 1.2rem !important;
    }
}