.btn-enregistre{
    text-align: center;
}

h1 {
    font-weight: bold !important;
}

.formframe{
    text-align: center;
    border: 25px blue groove;
    padding: 15px;
    margin-top: 10%;
}


.formframe button {
    display: block;
    margin : auto;
}

body {
    background-image: url(../images/imagesdefond.png);
    background-size: cover;
    background-repeat : no-repeat;
    height: 100%;
}

@media only screen and (max-width: 767px) {
    h1{
        font-size: 1.6rem !important;
    }

    .formframe{
        width: 95vw !important;
    }
}