body{
    background-image: url(../images/imagedefond45.png);
    background-size: cover;
    background-repeat : no-repeat;
}



@media only screen and (min-width: 767px) {
    
    .card{
    width: 400px;
    
    }
}
