@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

*{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
}

 h3{
   font-size:25px;
} 

 img{
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-top: 20px; 
} 

 .btn{
  margin-top: 20px;
  
}

footer{
    padding: 5rem;
}



@media only screen and (min-width: 767px) {
    
   .card{
    width: 400px;
    }
    
    
       
    
      
}




