{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="/css/category.css">
{% endblock %}


{% block title %} Category{% endblock %}

{% block body %}
{% for category in categorys %}
        <div class="card-body">
          <div class="card display-flex" style="width: 18rem;">
    <a href="{{ path('app_category_id', { id: category.id }) }}" class="text-decoration-none btn btn-">{{ category.name }}</a>
    </div>
      </div>
{% endfor %}
{% endblock %}