{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="/css/category.css">
{% endblock %}


{% block title %} Category{% endblock %}

{% block body %}
<main class="container">
<section class="row">
<div class="col-12">
<h1 class="text-center">Category</h1>
<p class="text-center">Liste de tous les Category</p>
</div>
{% for category in category  %}
<div class="text-center">
<div class="card" style="width:15rem;">
<div class="card h-100">
<div class="card-body">
<a href="{{ path('app_paints', { id: category.id }) }}" class="text-decoration-none card-title">{{ category.name }}</a>
</div>
</div>
</div>
{% endfor %}
<div class="col-12">
</section>
</main>
{% endblock %}