{% extends 'base.html.twig' %}

{% block title %} Category{% endblock %}

{% block body %}
<main class="container">
<section class="row">
<div class="col-12">
<h1 class="text-center">Category</h1>
<p class="text-center">Liste de tous les Category</p>
</div>
{% for category in category  %}
<div class="row col-4">
<div class="card h-100">
<div class="card-body">
<a href="{{ path('app_category', { id: category.id }) }} paints/ficheproduitpaints.html.twig" class="card-title"> {{ category.name }}</a>
</div>
</div>
</div>
{% endfor %}
<div class="col-12">
</section>
</main>
{% endblock %}