{% extends 'base1.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="/css/admin.css">
{% endblock %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    <div class="background">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between py-3">
                <div>
                    <h1 class="display-5 m-0">Nouvelle catégorie de peinture</h1>
                </div>
                <a href="{{ path('app_admin_category') }}" title="Retour à la liste" class="btn btn-warning">
                    Retour à la liste
                </a>
            </div>

            <div class="w-50 mx-auto formframe">
                {{ form(form) }}
            </div>
        </div>
    </div>

{% endblock %}
