<div class="conatiner">
<div class="row">
<div class="col-12 w-50 m-auto py-5 text-center">
<h1>Welcome to our company</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati neque, quibusdam at reiciendis cupiditate inventore provident commodi veritatis dolore iusto aperiam ipsum accusantium minima quis velit excepturi possimus quasi esse.</p>
</div>
</div>
</div>