<div class="slide_category container">
	<ul class="category list-unstyled">
		<li>
			<a href="#" class="text-dark text-decoration-none bg-dark">
				PRIMAIRE / IMPRESSION</a>
		</li>
		<li>
			<a href="#" class="text-dark text-decoration-none bg-warning">FINITIONS</a>
		</li>
		<li>
			<a href="#" class="text-dark text-decoration-none bg-light">DECORATION</a>
		</li>
		<li>
			<a href="#" class="text-dark text-decoration-none bg-primary">FAçADE</a>
		</li>
		<li>
			<a href="#" class="text-dark text-decoration-none bg-success">BOIS</a>
		</li>
		<li>
			<a href="#" class="text-dark text-decoration-none bg-secondary">SOLS</a>
		</li>
		<li>
			<a href="#" class="text-dark text-decoration-none bg-danger">MéTAUX</a>
		</li>
	</ul>
</div>
