<div class="slide_category container">
	<ul class="category list-unstyled text-center">
		<button class='btn btn-primary'>
			<a href="#" class="text-dark text-decoration-none bg-dark">
				PRIMAIRE / IMPRESSION</a>
		</button class='btn btn-primary'>
		<button
			<a href="#" class="text-dark text-decoration-none bg-warning">FINITIONS</a>
		</button class='btn btn-primary'>
		<button class='btn btn-primary'>
			<a href="#" class="text-dark text-decoration-none bg-light">DECORATION</a>
		</button class='btn btn-primary'>
		<button class='btn btn-primary'>
			<a href="#" class="text-dark text-decoration-none bg-primary">FAçADE</a>
		</button class='btn btn-primary'>
		<button class='btn btn-primary'>
			<a href="#" class="text-dark text-decoration-none bg-success">BOIS</a>
		</button class='btn btn-primary'>
		<button class='btn btn-primary'>
			<a href="#" class="text-dark text-decoration-none bg-secondary">SOLS</a>
		</button class='btn btn-primary'>
		<button class='btn btn-primary'>
			<a href="#" class="text-dark text-decoration-none bg-danger">MéTAUX</a>
		</button class='btn btn-primary'>
	</ul>
</div>
