{% extends 'base.html.twig' %}

{% block title %} Paints{% endblock %}


{% block body %}
    <main class="container">
       <section class="row ">
       <div class="col-12">
      <h1 class="text-center">Paints</h1>
      <p class="text-center">Liste de tous les peintures</p>
      </div>
      {% for paint in paints %}
      <div class="col-4 py-5">
      <div class="card h-100">
      <div class="card-body text-center">
      <h3 class="text-center card-title">{{ paint.title }}</h3>
      <img src=" {{ asset(paint.cover ) | imagine_filter('vignette')}}" width="150px">
      <a href="{{ path('ficheproduit_paints', { id: paint.id }) }}" class="btn btn-warning">
      Voir la fiche produit
    </a>
   </div>
   </div>
   <a href="#"></a>
   </div> 
   {% endfor %}
   </section>
   </main>
   {{ knp_pagination_render(paints, null, {}, {
        'align': 'center',
        'size': 'large',
        'rounded': true,
    }) }}
   <footer>
   <div class="text-center p-4">
   @ 2022 copyright
   </footer>
   </div>
   {% endblock %}
   



       







   